<div id="<%= dom_id constituency %>">
  <p>
    <strong>Name:</strong>
    <%= constituency.name %>
  </p>

  <p>
    <strong>Display in navbar:</strong>
    <%= constituency.display_in_navbar %>
  </p>

</div>
